body {
    background-color: aqua;
    margin: 0;
}

.content {
    width: 500px;
    margin: 0 auto;
    background-color: red;
    padding: 20px;
}

h1 {
    text-align: center;
}

img {
    width: 100%;
}

.header {
    text-align: center;
    padding: 5px;
    background-color: green;
    color: white;
}

.footer {
    background-color: violet;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin: 0;
}