.grid {
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 10px;
    text-align: center;
}

.col-offset-1 { margin-left: 8.33px; }
.col-offset-2 { margin-left: 16.66px; }
.col-offset-3 { margin-left: 25px; }
.col-offset-4 { margin-left: 33.33px; }
.col-offset-5 { margin-left: 41.66px; }
.col-offset-6 { margin-left: 50px; }
.col-offset-7 { margin-left: 58.33px; }
.col-offset-8 { margin-left: 66.66px; }
.col-offset-9 { margin-left: 75px; } 
.col-offset-10 { margin-left: 83.33px; }
.col-offset-11 { margin-left: 91.66px; }
.col-offset-12 { margin-left: 100px; }